Django>=4.2
djangorestframework
django-allauth
rest_framework_simplejwt
gunicorn
psycopg2-binary
python-decouple
python-dotenv
djangorestframework-simplejwt
django-extensions
requests
cryptography
google-auth
gunicorn
tenacity
azure-communication-email
Pillow
resend

